<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/product.css" rel="stylesheet" />
    <title>CTQM-Car</title>
</head>
<body>
    <div id="page-product">
        <div class="page-container">
            <h1 class="car__heading">CTQM Model S</h1>
            <div class="car__container">
                <h2 class="type-car__title">Best sellers</h2>
                <ul class="car__list">
                    <li class="car__item">
                        <div class="car-item__container">
                            <div class="car-item__images">
                                <a href="#" class="car-item__images-link" title="car1">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/CAR_ACCESSORIES/MODEL_S/INTERIOR/1562262-00-A_0_2000.jpg" alt="car1" class="car-item__image primary-image">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/CAR_ACCESSORIES/MODEL_S/INTERIOR/1562262-00-A_3.jpg" alt="car1" class="car-item__image second-image">
                                </a>
                            </div>
                            <div class="car-item__link">
                                <a href="" class="car-item__link-details">View Details</a>
                            </div>
                        </div>
                        <div class="car-item__name">
                            <div class="car-item__name-details">
                                <div class="car-item__name-links">
                                    <a href="" class="car-item__name-link">Model S/3/Y Pet Liner</a>
                                </div>
                                <div class="car-item__name-prices">
                                    <p class="car-item__name-price">$145</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="car__item">
                        <div class="car-item__container">
                            <div class="car-item__images">
                                <a href="#" class="car-item__images-link" title="car1">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/CAR_ACCESSORIES/MODEL_S/EXTERIOR/1494684-00-A_1_2000.jpg" alt="car1" class="car-item__image primary-image">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/CAR_ACCESSORIES/MODEL_S/EXTERIOR/1494684-00-A_0_2000.jpg" alt="car1" class="car-item__image second-image">                                </a>
                            </div>
                            <div class="car-item__link">
                                <a href="" class="car-item__link-details">View Details</a>
                            </div>
                        </div>
                        <div class="car-item__name">
                            <div class="car-item__name-details">
                                <div class="car-item__name-links">
                                    <a href="" class="car-item__name-link">Model S All-Weather Interior Liners</a>
                                </div>
                                <div class="car-item__name-prices">
                                    <p class="car-item__name-price">$250</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="car__item">
                        <div class="car-item__container">
                            <div class="car-item__images">
                                <a href="#" class="car-item__images-link" title="car1">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/studio/CAR_ACCESSORIES/MODEL_S/INTERIOR/1801349-00-A_01_wht.jpg" alt="car1" class="car-item__image primary-image">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/CAR_ACCESSORIES/MODEL_S/INTERIOR/1801349-00-A_04.jpg" alt="car1" class="car-item__image second-image">                                </a>
                            </div>
                            <div class="car-item__link">
                                <a href="" class="car-item__link-details">View Details</a>
                            </div>
                        </div>
                        <div class="car-item__name">
                            <div class="car-item__name-details">
                                <div class="car-item__name-links">
                                    <a href="" class="car-item__name-link">Model S Rear Liftgate Sunshade</a>
                                </div>
                                <div class="car-item__name-prices">
                                    <p class="car-item__name-price">$80</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="car__item">
                        <div class="car-item__container">
                            <div class="car-item__images">
                                <a href="#" class="car-item__images-link" title="car1">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/CAR_ACCESSORIES/MODEL_S/INTERIOR/1458421-00-A_0_2000.jpg" alt="car1" class="car-item__image primary-image">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/CAR_ACCESSORIES/MODEL_S/INTERIOR/1458421-00-A_1.jpg" alt="car1" class="car-item__image second-image">
                                </a>
                            </div>
                            <div class="car-item__link">
                                <a href="" class="car-item__link-details">View Details</a>
                            </div>
                        </div>
                        <div class="car-item__name">
                            <div class="car-item__name-details">
                                <div class="car-item__name-links">
                                    <a href="" class="car-item__name-link">2012-2020 | Model S/X Coat Hooks</a>
                                </div>
                                <div class="car-item__name-prices">
                                    <p class="car-item__name-price">$30</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="car__item">
                        <div class="car-item__container">
                            <div class="car-item__images">
                                <a href="#" class="car-item__images-link" title="car1">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/studio/CAR_ACCESSORIES/MODEL_S/EXTERIOR/1017723-00-A_0.jpg" alt="car1" class="car-item__image primary-image">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/CAR_ACCESSORIES/MODEL_S/EXTERIOR/1017723-00-A_alt.jpg" alt="car1" class="car-item__image second-image">                                </a>
                            </div>
                            <div class="car-item__link">
                                <a href="" class="car-item__link-details">View Details</a>
                            </div>
                        </div>
                        <div class="car-item__name">
                            <div class="car-item__name-details">
                                <div class="car-item__name-links">
                                    <a href="" class="car-item__name-link">Model S Car Cover</a>
                                </div>
                                <div class="car-item__name-prices">
                                    <p class="car-item__name-price">$325 - $400</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="car__item">
                        <div class="car-item__container">
                            <div class="car-item__images">
                                <a href="#" class="car-item__images-link" title="car1">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/studio/CAR_ACCESSORIES/MODEL_S/INTERIOR/1819443-00-A_0_2000.jpg" alt="car1" class="car-item__image primary-image">
                                    <img src="https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/CAR_ACCESSORIES/MODEL_S/INTERIOR/1819443-00-A_1_2000.jpg" alt="car1" class="car-item__image second-image">                                </a>
                            </div>
                            <div class="car-item__link">
                                <a href="" class="car-item__link-details">View Details</a>
                            </div>
                        </div>
                        <div class="car-item__name">
                            <div class="car-item__name-details">
                                <div class="car-item__name-links">
                                    <a href="" class="car-item__name-link">Model S Key Fob</a>
                                </div>
                                <div class="car-item__name-prices">
                                    <p class="car-item__name-price">$175</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
    var items = document.querySelectorAll(".car__item");
    items.forEach(item => {
        var itemLink = item.querySelector(".car-item__link");
        var itemImage = item.querySelector(".car-item__image.second-image")
        item.onmouseenter = () => {
            itemLink.classList.add('active');
            itemImage.classList.add('active');
        }
        item.onmouseleave = () => {
            itemLink.classList.remove('active');
            itemImage.classList.remove('active');
        }
    });
</script>
</html>