
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Roboto:wght@300;400&display=swap');

:root{
    --sub-color: #eaa023;
    --text-color: #FFFFFF;
}
 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    color: #0c0c0c;
    width: 100%;
  }
.container {
    width: 100%;
}
 #container_slide{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
 } 
 h2 {
    font-family: AudiTypeExtended,sans-serif;
 }
 p {
    font-family: AudiTypeExtended,sans-serif;
 }  
/* SLIDE */
.img-slide{
    width: 100%;
    height: 100%;
}
.big-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vw;
    position: relative;
    vertical-align: middle;

    /* overflow: hidden; */
}


.big-image .big-image-content{
    text-align: center;
    max-width: 450px;
    margin-bottom: 300px;;
}
.big-image .big-image-content h2{
    font-size: 50px;
    color: var(--text-color);
    font-family: 'Dancing Script';
}
.big-image .big-image-content p{
    font-size: 20px;
    color: var(--text-color);
    font-weight: bold;
    margin:15x 0px;
    font-family: 'Roboto';
    
}

/* PICTURE-TEXT-LEFT */

.Home_Pic_Text_LEFT{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: AudiTypeWide,sans-serif;


}
.Title{
    width:100%;
}
.Img{
    width:100%;
}
.Pictures_Left img {
    width: 100%;

}
.Pictures_Left{
    padding-top: 50px;
    padding-left: 50px;
}
.text_Left{
    padding-top: 130px;
    padding-bottom: 30px;
    padding-right: 50px;
    align-self: flex-start;
    padding-left: 50px;
    text-align: center;
    font-family: 'Roboto';
}

/* PICTURE-TEXT-RIGHT */

.Home_Pic_Text_RIGHT{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: AudiTypeWide,sans-serif;
}
.Pictures_Right{
    padding-top: 50px;
    padding-right: 50px;
}
.Pictures_Right img {
    width:100%;
}
.text_right{
    padding-top: 130px;
    padding-bottom: 30px;
    align-self: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: AudiTypeExtended,sans-serif;
}
/* CONTAINER_FOOTER */

.container_footer {
    padding-top: 100px;
    position: relative;
    font-family: Arial;
}
.container_footer  img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px; 
    font-family: 'Roboto';
  }
  @media only screen and (min-width: 361px) and (max-width:1024px){
    .Home_Pic_Text_RIGHT{
        flex-direction: column;
    }
    .Home_Pic_Text_LEFT{
        flex-direction: column-reverse;
    }
    .Pictures_Right img {
         margin-left: 27px;
    }
    .Pictures_Left img {
        margin-left: -29px;
    }
    .Img {
        width: 100%;
        display: block;
    }
    .Pictures_Right{
        margin: 34px;
    }
    .Pictures_Left{
        margin: 34px;
    }
    .text_right{
        padding-top: 30px;
    }
    .text_Left{
        padding-top: 30px;
    }
 }
 