@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>CTQM Car</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mohave:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nothing+You+Could+Do&display=swap" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css" integrity="sha512-4rPgyv5iG0PZw8E+oRdfN/Gq+yilzt9rQ8Yci2jJ15rAyBmF0HBE4wFjBkoB72cxBeg63uobaj1UcNt/scV93w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/NavFooter.css" rel="stylesheet" />
</head>

<body>
	<div class="blur__overlay"></div>

	<header class="header">
		<a class="header__left" href="/home">
			<img class="header__logo" src="~/images/CTQM_logo.png" alt="" />
		</a>

		<ul class="header__right">
			<li>
				<div class="search-container">
					<form asp-controller="xes" asp-action="search" method="get">
						<input class="search expandright" id="searchright" type="text" name="searching" placeholder="Search">
						<label class="header__nav__btn search_btn" for="searchright" type="submit" value="searching"><span class="mglass">&#9906;</span></label>
					</form>
				</div>
			</li>
			<li><a class="header__nav__btn" href="#">shop</a></li>
			@if (Context.User.Identity.IsAuthenticated) 
			{
				<li><a class="header__nav__btn">@Context.User.FindFirst(ClaimTypes.NameIdentifier).Value</a></li>
			}
			else 
			{
				<li><a class="header__nav__btn" asp-controller="access" asp-action="Login">account</a></li>
			}
			<li><a class="menu__btn header__nav__btn">menu</a></li>
		</ul>
	</header>

	<nav class="navigation">
		<div class="close__btn__container">
			<img class="navigation__close__btn" src="https://thatanjan.github.io/tesla-clone-yt/media/close_icon.svg" alt="" />
		</div>
		<ul>
			<li><a class="header__nav__btn" asp-controller="xes" asp-action="Product" >New Arrival</a></li>
			<li><a class="header__nav__btn" asp-controller="xes" asp-action="Product" asp-route-type="Mercedes-EQ" >Mercedes-EQ</a></li>
			<li><a class="header__nav__btn" asp-controller="xes" asp-action="Product" asp-route-type="Mercedes-AMG" >Mercedes-AMG</a></li>
			<li><a class="header__nav__btn" asp-controller="xes" asp-action="Product" asp-route-type="Coupé" >Coupé</a></li>
			<li><a class="header__nav__btn" asp-controller="xes" asp-action="Product" asp-route-type="Mercedes-Maybach" >Mercedes-Maybach</a></li>
			@if (Context.User.Identity.IsAuthenticated) {
				<li><a class="header__nav__btn" asp-area="" asp-controller="Home" asp-action="LogOut">Logout</a></li>
			}
		</ul>
	</nav>

	<section id="fullpage">
		<section class="section number">
			<div class="section__content">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
		</section>
	</section>
	<footer class="footer">
		<ul>
			<li><a href="">CTQM © 2022</a></li>
			<li><a href="">Privacy &amp; Legal</a></li>
			<li><a href="">2211COMP106401</a></li>
			<li><a href="">Mr.HIENLTH</a></li>
		</ul>
	</footer>
	<script src="~/js/NavFooter.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js" integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>